<!--footer-->
<div class="card text-center" class="about">
  <div
    class="card-footer bg-transparent border-success"
    style="color: chartreuse; font-size: larger;"
  >
    <div class="footer">
      <div class="row">
        <div class="col-md-6">
          <h2>About us</h2>
          <p>
            A sample of github where one can search for the username and repo
            name
          </p>
        </div>
        <div class="col-md-6">
          <h2>Known Bugs</h2>
          <p>
            For any known bugs kindly reach at
            <span style="color: white;">josphatwanjiruw@gmail.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
